.container {
  display: flex;
  height: 86vh;
}

.container header {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.container header section {
  flex: 1 1 auto;
}

.container nav ul {
  border-bottom: 1px solid #dad7d7;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.2px;
  list-style-type: none;
  padding: 20px 0;
}
