.carousel {
  align-items: center;
  background-color: #dedede;
  display: flex;
  height: 300px;
  width: 86%;
}

.carousel__card {
  max-width: 33%;
}

.carousel__title {
  color: #8c8b8b;
  margin-left: 10px;
}

.carousel__card:first-of-type {
  margin-left: 100px;
}

.carousel-modal {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 130px;
  margin: 0 10px;
  padding: 10px;
}

.carousel-modal p {
  margin: 10px 0;
}

.carousel-modal__img {
  width: 45%;
  margin: 0 5px;
}

.carousel-modal__title {
  color: #222;
  font-size: 13px;
}

.carousel-modal__subtitle {
  color: #c1bcbc;
  font-size: 10px;
}

.carousel-modal__link {
  color: #ffe38f;
  font-size: 10px;
}

.split-40 {
  width: 40%;
}

.split-40__img {
  opacity: 0.9;

  height: 53%;
  width: 100%;
}

.split-40__text {
  margin: 50px 0;
}

.split-40__text span {
  box-shadow: 3px 3px 13px 3px #cac1c1;
  border-radius: 30px;
  color: #ffe38f;
  margin: 0 10px;
  padding: 10px;
}

.hero-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-text__container {
  max-width: 500px;
}

.hero-text__dash {
  margin: 50px 0;
  position: relative;
}

.hero-text__dash:before {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #5d5c5c;
  position: absolute;
  display: block;
  bottom: 3px;
  left: calc(25% + 6px);
}

.hero-text__title {
  color: #5d5c5c;
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 0;
}

.hero-text__subtitle {
  color: #c1bcbc;
}

.hero-text__link {
  margin-top: 60px;
}

.hero-text__link a {
  background-color: #ffe38f;
  border-radius: 15px;
  color: #000;
  padding: 11px 22px;
  text-decoration: none;
}
